<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main.css">
    $CSS_LINKS
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <title>$TAB_TITLE</title>
</head>
<body>
    <nav>
        <a href="/"><img id="logo" src="/assets/images/logo.png"></a>
        <a href="/battle">Battle</a>
        <a href="/contact">Contact</a>
    </nav>

    <main>